.homeContainer {
  display: flex;
  align-items: center;
}

.homeConst {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  
  display: flex;
  flex-direction: column;
}

.homeConst section {
  flex: 1;

  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-items: center;
}

@media (max-width: 900px) {
  .homeConst section {
    grid-template-columns: 1fr;
  }
}